@import '../index.scss';

.root {
    background-color: white;
  }
  
  .content {
    height: 10vh;
  }
  
  .title {
    font-family: Titillium-bold;
  }
  
  .nav span {
    font-size: 1.25rem;
  }
  